.mainContent, .mainContentOnSectioned {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.mainContent {
    padding: 5rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.gridCell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sectionedPage {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1rem;
    padding: 1rem;
}

.mainContentOnSectioned {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.adminMainContent {
    /* padding: 5rem; */
    margin: 0 5rem 2.5rem 5rem;
    /* background-color: red; */
}

.adminTable {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    text-align: center;
}

th {
    font-size: large;
}


.commonRow {
    /* background-color: blue; */
    height: 2rem;
}

.commonRow:hover {
    background-color: gainsboro;
    font-weight: bolder;
}

.headerRow {
    background-color: grey;
}

.sideBar {

}