.centeredContent {
    display: flex;
    margin: 2.5rem;
    background-color: var(--color-primario);
    border-radius: 10px;
}

.productImage {
    width: 25vw;
    margin: 2rem;
}

.productInfo {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.productTitle {
    font-size: xx-large;
    font-weight: bolder;
    margin: 0;
}

.productDescription {
    font-size: large;
    margin: 0;
}

.productPrice {
    font-size: x-large;
    font-weight: bolder;
}

.addToCart {
    font-size: x-large;
    border-radius: 10px;
    max-width: max-content;
    padding: 0.25rem 1rem;
}

.productImageContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.mainContent, .mainContentOnSectioned {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.mainContent {
    padding: 5rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.gridCell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sectionedPage {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1rem;
    padding: 1rem;
}

.mainContentOnSectioned {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.adminMainContent {
    display: flex;
    flex-direction: column;
    /* padding: 5rem; */
    margin: 0 5rem 0 5rem;
    overflow-y: scroll;
    height: 65vh;

    /* background-color: red; */
}

.rowOfButtons {
    align-self: center;
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.individualButton {
    margin: 0 1rem;
    height: 2rem;
    width: max-content;
    align-self: center;
    border-radius: 10px;
    padding: 0 1rem;
}

.adminTable {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    text-align: center;
}

th {
    font-size: large;
}


.commonRow {
    /* background-color: blue; */
    height: 2rem;
}

.commonRow:hover {
    background-color: gainsboro;
    font-weight: bolder;
}

.headerRow {
    background-color: grey;
}


.sideBar {

}

/* CartDetail */
.cartDetailTitle, .emptyCart {
    text-align: center;
    font-weight: bolder;
}

.cartDetailTitle {
    font-size: xx-large;
    margin: 2rem 0;
}

.emptyCart {
    font-size: x-large;
    margin: 5rem 0;
}

.checkOutContainer {
    background-color: var(--color-primario);
    border-radius: 10px;
    padding: 1rem 3rem;
    margin: 2rem;
}

.checkoutText {
    font-size: xx-large;
    text-align: right;
    font-weight: bolder;
}

.checkoutButton {
    font-size: xx-large;
    margin: 0 1rem 1rem;
    width: max-content;
    border-radius: 10px;
    padding: 0 1rem;
    align-self: flex-end;
}